form {
  --background: white;
  --border: rgba(0, 0, 0, 0.125);
  --borderDark: rgba(0, 0, 0, 0.25);
  --borderDarker: rgba(0, 0, 0, 0.5);
  --bgColorH: 0;
  --bgColorS: 0%;
  --bgColorL: 98%;
  --fgColorH: 210;
  --fgColorS: 50%;
  --fgColorL: 38%;
  --shadeDark: 0.3;
  --shadeLight: 0.7;
  --shadeNormal: 0.5;
  --borderRadius: 0.125rem;
  --highlight: #306090;
  background: white;
  border: 1px solid var(--border);
  border-radius: var(--borderRadius);
  box-shadow: 0 1rem 1rem -0.75rem var(--border);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

p {
  color: #131f25;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  line-height: 26px;
  text-indent: 30px;
  margin: 0;
}

.h11 {
  color: #1b6fb4;
  display: inline-block;
  font-family:  cursive;
  font-size: 50px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 2px;
  margin: 0 0 30px;
  padding: 10px 15px 8px;
}