body {
    background-color: #ffffff;
  }
  
  .field {
    display: flex;
    padding: 10px;
    width: 25%;
    margin-left: 37.5%;
    color: #fff;
    font-size: 1.3em;
    flex-direction: column;
    align-items: center;
  }
  
  .box {
    border: 2px solid #aaa719;
    background-color: #d4d37f;
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
  }
  
  .box:last-child {
    margin-bottom: 0;
  }
  
  button.btn {
    margin-right: 10px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 0.65em;
    color: #fff;
    outline: none;
  }
  
  .btn.light {
    background-color: #4eafc9;
    border: 2px solid #2a89a2;
  }
  
  .btn.red {
    background-color: #dda66d;
    border: 2px solid #b6821a;
  }
  
  .btn.light:hover {
    background-color: #2a89a2;
    border-color: #1d6f85;
  }
  
  .btn.red:hover {
    background-color: #b6821a;
    border-color: #946912;
  }

  .text {
    color: black
  }

 /*
Cross-browser styling of <fieldset> and <legend> without any additional HTML elements
basic rules:
 - fieldset cannot have padding, because it would ruin the legend absolute positioning in Gecko
 - cannot use relative positioning on legend, because it does not work in Opera
 - legend cannot have padding, because it would break its 100% size in all browsers. 
    this cannot be fixed by overflow:hidden, because it is stupid in all IE
 - selector priority in IE7 is wrong (!important)
*/

/* the hacking */
fieldset {
  margin: 0px; padding: 0px; display: block; position: relative; width: 100%;
  border-top: none !important; /* for IE7, does not work with Webkit */
  _padding-top: 3em; } /* for IE6 */
fieldset > * {
  width: auto;
  width: auto !important; /* for IE7 */
  margin-left: 1.5em; /* emulating fieldset padding-left */
  margin-left: 1.5em !important; } /* for IE7 */
fieldset *:first-child + * {
  margin-top: 3em; } /* emulating fieldset padding-top */
fieldset:last-child {
  margin-bottom: 1.5em; } /* emulating fieldset pading-bottom */
legend {
  width: 100%;
  width: 100% !important; /* for IE7 */
  position: absolute;
  top: -1px; left: -1px; /* hide the fieldset border */
  margin: 0px !important; /* suppress all margin rules */
  line-height: 2em; /* emulating padding-top/bottom */
  text-indent: 1.5em; /* emulating padding-left */
  left: -8px; } /* for IE7 */


/* user format */
fieldset, legend {
  border: 1px solid #ddd;
  background-color: #eee;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  }
legend {
  font-weight: normal;
  font-style: italic;
  font-size: 1.2em;
  text-shadow: #fff 1px 1px 1px; }
fieldset {
  background-color: #f7f7f7;
  width: 360px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px; }

  body {
    margin:40px;
  }
  * {
    box-sizing: border-box;
  }
  input {
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
  }
  textarea {
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
  }
  textarea:hover {
    border: 1px solid #aaa;
  }